@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Definizione dell'animazione fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Inizia invisibile */
    transform: translateY(20px);
    /* Si sposta verso il basso */
  }

  100% {
    opacity: 1;
    /* Diventa completamente visibile */
    transform: translateY(0);
    /* Torna alla posizione originale */
  }
}

/* Imposta generale per l'intera pagina */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  animation: fadeIn 0.5s ease-in;
}